[cmk_auth]

CheckMKMaster = test
CheckMKAutomationUser = test
CheckMKAutomationPassword = test
CheckMKSite = test
CheckMKView = test
CheckMKHostGroup = test

[piezo]

PiezoPin = 15

[led]

RedLedPin = 24
GreenLedPin = 23
